.home {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    max-width: 700px;
    padding: 30px 30px 30px 30px;
    margin: 200px auto 100px auto;
    border: 1px solid #00faff;
    box-shadow:
        0 0 4px #00cfe6,
        0 0 8px #00cfe6;
    border-radius: 15px;
    transition: 0.5s all;
    &:hover{
        transform: scale(1.03);
    }

    img{
        height: 300px;
        width: 310px;
        border-radius: 20px;
    }

    .desc {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p{
            text-align: center;
            span{
                display: block;
                margin-top: 20px;
            }
        }
    }
}
