@import url('https://fonts.cdnfonts.com/css/04b19');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.cdnfonts.com/css/04b19');


body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('./Assets/stars.jpg');
    width: 100%;
}

div,
ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}


a{
    text-decoration: none !important;
}

p{
    margin-bottom: 0;
}

button{
    cursor: pointer;
    border: none;
}

.f-16{
    font-size: 16px !important;
}

.f-20{
    font-size: 20px !important;
}

.f-25{
    font-size: 25px !important;
}

.f-14{
    font-size: 14px !important;
}

.pixel{
        font-family: "Press Start 2P", system-ui !important;
        font-size: 12px;
        line-height: 150%;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin: 0;
        color: #FFF;
        text-align: center;
}

.def{
    color: #FFF;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
    margin: 0;
}

.headingfont{
    font-family: '04b_19', sans-serif !important;
    letter-spacing: 1px;
}

.d-none{
    display: none;
}

.text-hover-fill {
  position: relative;
  padding: 0.2em 0.4em;
  overflow: hidden;
  z-index: 0;
  &::before{
    content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #00cfe6; /* neon light blue */
  z-index: -1;
  transition: height 0.4s ease-in-out;
  }
  &:hover::before{
    height: 100%;
  }
}

.mainheading{
    font-size: 50px;
    color: #00cfe6;
    text-wrap: nowrap;
    text-align: center;
    font-family: "04b_19", sans-serif !important;
    letter-spacing: 1px;
    font-weight: 500;
}

.color-b{
    color: black;
}